Trend Discovery Agent.json
{
  "name": "Trend Discovery Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -416,
        16
      ],
      "id": "90c76c9f-4bbc-4e01-9e4b-b6e242cbd760",
      "name": "When chat message received",
      "webhookId": "2ab3871c-92cb-42e9-9503-8e1586e28c83"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "57a419c4-c65b-4fc1-8670-e3ff76b2ee2e",
              "leftValue": "={{ $json.isTrendQuery }}",
              "rightValue": "True",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        16
      ],
      "id": "ca052e4c-1e3a-40d7-9682-48c638e866a9",
      "name": "If"
    },
    {
      "parameters": {
        "q": "={{ $('Analyst model').item.json.content.parts[0].text }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "21702ac5-43be-4309-a787-2634871a6499",
      "name": "Google search",
      "credentials": {
        "serpApi": {
          "id": "WT90nWap1KxWVrxP",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // 1. EXTRACT: Go deep into the nested structure to find the text\n  // We check item.json.content.parts[0].text because that is where your data is hiding.\n  let raw = \"\";\n  \n  try {\n    if (item.json.content && item.json.content.parts && item.json.content.parts[0]) {\n      raw = item.json.content.parts[0].text;\n    } else {\n      // Fallback for other potential formats\n      raw = item.json.output || item.json.text || \"\";\n    }\n  } catch (err) {\n    raw = \"\";\n  }\n\n  // 2. CLEAN: Remove the ```json formatting\n  raw = raw.replace(/```json|```/gi, \"\").trim();\n\n  // 3. PARSE: Turn string into object\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    parsed = { is_trend: false };\n  }\n\n  // 4. RETURN\n  return {\n    json: {\n      isTrendQuery: parsed.is_trend === true,\n      topic: parsed.core_topic || \"Unknown Topic\",\n      simpleAnswer: parsed.answer\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        16
      ],
      "id": "58bc8571-e439-4740-9d1e-3f5655b0a6f1",
      "name": "Code"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=The user wants to know about: \"{{ $('Code').item.json.topic }}\"\n\nWrite a SINGLE, effective Google Search query to find the latest viral trends and stats for this topic.\nOutput ONLY the search query text. No quotes."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "42714062-f7e3-467f-8d83-56954c0592dd",
      "name": "Analyst model",
      "credentials": {
        "googlePalmApi": {
          "id": "tp8gOU6Va2h09E2s",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a Market Trend Expert.\nI performed a Google Search for: \"{{ $('Code').item.json.topic }}\"\n\nHere are the top search results (Title + Snippet):\n\"\"\"\n{{ $json.organic_results.map(r => `- ${r.title}: ${r.snippet}`).join('\\n') }}\n\"\"\"\n\nBased ONLY on these search snippets, summarize the top trends and key information.\nIf the snippets mention specific statistics or news events, highlight them."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "d0ff7c22-e961-4568-aa57-b3744d9c5fff",
      "name": "Final",
      "credentials": {
        "googlePalmApi": {
          "id": "tp8gOU6Va2h09E2s",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $json; \n\n// Handle different LLM output shapes safely\nlet text = \"\";\n\n// Case 1: OpenAI-style parts array\nif (input.content?.parts?.[0]?.text) {\n  text = input.content.parts[0].text;\n}\n// Case 2: Direct text\nelse if (input.text) {\n  text = input.text;\n}\n// Case 3: Raw content fallback\nelse if (input.content) {\n  text = input.content;\n}\n\n// Clean formatting\ntext = String(text)\n  .replace(/\\*\\*/g, \"\")     // remove markdown bold\n  .replace(/\\n{2,}/g, \"\\n\") // collapse newlines\n  .trim();\n\n// Return clean output\nreturn [\n  {\n    json: {\n      output: text\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        0
      ],
      "id": "60f0abb5-5507-49c8-9bee-496dda83d408",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "Purpose\nThis workflow converts simple human input into clean, trend based insights.",
        "height": 272,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -80
      ],
      "typeVersion": 1,
      "id": "f5915ecf-014f-414f-9301-4b980a502abd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Logic\n-Checks if the input needs scraping or analyzing, process if true\n-The 'Analyst Model' writes a Google search query\n-SerpAI searches for referances",
        "height": 304,
        "width": 736,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -112
      ],
      "typeVersion": 1,
      "id": "1519fe62-1003-4dc6-beb2-b79297c8fed5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Final Ouput\nGenerated a clean well formatted ouput.",
        "height": 272,
        "width": 512,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        -80
      ],
      "typeVersion": 1,
      "id": "368c80ae-962f-4df2-9d4e-aca6673073fa",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the user input: \"{{ $json.chatInput }}\"\n\n1. Is the user asking for trends, news, or market data? (true/false)\n2. Extract the specific \"Core Topic\" (e.g., \"YouTube Shorts\", \"Bitcoin\", \"Fashion\").\n\nReturn ONLY a JSON object like this:\n{\n  \"is_trend\": true,\n  \"core_topic\": \"The extracted topic here\",\n  \"answer\": \"null\"\n}\n\nIf it is NOT a trend request (like \"hello\"), return:\n{\n  \"is_trend\": false,\n  \"core_topic\": \"null\",\n  \"answer\": \"Hello! I am your Trend Discovery Agent. Ask me about any market trend.\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        16
      ],
      "id": "2ea616ed-c46a-488c-98ad-a05b0dc34d58",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "tp8gOU6Va2h09E2s",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analyst model",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google search": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyst model": {
      "main": [
        [
          {
            "node": "Google search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc077b0a-2def-4341-b4ad-ebb16d335ad5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f63e86b3cec642940ff6f5aa1d26ebf10e291779e254f4d8e23615f905c1ee4"
  },
  "id": "Lj7nIr0yloyQIaCf",
  "tags": []
}